{% block subject %}
{% endblock %}

{% block body %}
    <p>Hey {{ userName }}, we can't find you since you haven't submitted your location :(</p>
    <p>Please fill in your location for the next week so your colleagues can find you whenever they need by clicking on the big button bellow &#8595;.</p>
    <a href="https://kantoorplanning.develto.nl" style="padding: 10px 15px; background-color: #afbb00; color: white; text-decoration: none; display: inline-block; border-radius: 10px;">kantoorplanning</a>
{% endblock %}